{% extends "base.html" %}
{% block main %}
<h1>Klexiboxen</h1>
<p class="lead">Tool zur Aktualisierung der Klexikon-Infoboxen</p>

<p>Die folgenden Tabelle zeigt die Abweichungen zwischen den Infoboxen im Klexikon und den Werten in Wikidata zum Zeitpunkt der letzten Überprüfung (04.05.2021, 3:30 Uhr). Bereits übertragene Änderungen werden nicht mehr gezeigt.</p>

<p>Wähle zunächst durch Klick auf die betreffenden Zeilen diejenigen Einträge aus, welche du ins Klexikon übertragen möchtest. Klicke dann "Änderungen übertragen", um die Aktualisierung der Infoboxen zu starten.</p>

<script src="/static/checkbox_handler.js"></script>
<table id="tbl_changelog" class="table table-striped table-hover">
  <thead>
    <th>Artikel</th>
    <th>Feldname</th>
    <th>Alter Inhalt</th>
    <th>Neuer Inhalt</th>
    <th><input type="checkbox" id="checkall"/></th>
  </thead>
  <tbody>
    <tr>
      <td>Vereinigte Staaten von Amerika</td>
      <td>Staatsoberhaupt</td>
      <td>Präsident [[Donald Trump]]</td>
      <td>Präsident [[Joe Biden]]</td>
      <td><input type="checkbox" class="checkthis" /></td>
    </tr>
    <tr>
      <td>Spanien</td>
      <td>Einwohnerzahl</td>
      <td>60 Millionen</td>
      <td>61 Millionen</td>
      <td><input type="checkbox" class="checkthis" /></td>
    </tr>
    <tr>
      <td>Singapur</td>
      <td>Flagge</td>
      <td>[[Datei:AlteFlagge.jpg]]</td>
      <td>[[Datei:NeueFlagge.jpg]]</td>
      <td><input type="checkbox" class="checkthis" /></td>
    </tr>
  </tbody>
</table>

<div class="text-right">
  <input id="btn_transfer" class="btn btn-primary" type="submit" value="Änderungen übertragen" disabled>
  <small id="lbl_counter" class="form-text text-muted">Bitte erst Änderungen auswählen</small>
</div>
{% endblock %}
